// Base styles (mobile-first approach)
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.navbar.navbar-transparent {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.nav-link {
  color: white !important;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px; /* Add some padding at the bottom to make space for the underline */
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600; /* Ensure the link's width is taken into account */
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white; /* Underline color */
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #c271ff !important; /* Text color changes to purple on hover */
}

.nav-link:hover::after {
  width: 100%; /* Full width of the text */
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

// Common hero-section styles
.hero-section {
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-section .wrap-quote {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  white-space: normal;
  word-break: break-word;
  margin-top: 1.5em;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero-content .highlight {
  color: #c271ff;
}

.sub-lead {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #c271ff;
  border-color: #c271ff;
}

/* Specific styles for courses hero-section */
.hero-section-courses {
  height: 40vh;
}

/* Specific styles for full-cover hero-section */
.hero-section-full-cover {
  height: 100vh; /* Full viewport height */
}

.search-section {
  background-color: #c271ff; // Adjust the color to match the screenshot
  .form-control {
    background-color: rgba(255, 255, 255, 0.2); // Semi-transparent white
    color: #fff;
    border: none;
    &::placeholder {
      color: #fff;
      opacity: 0.8; // Adjust placeholder opacity if needed
    }
  }
}
.course-card {
  border: none;
  .card-img-top {
    position: relative;
    img {
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
    }
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .card-body {
    .author-img {
      width: 40px;
      height: 40px;
    }
    .author-name {
      color: #c271ff;
      font-weight: bold;
    }
    .star-rating {
      .d-inline {
        font-size: 20px;
      }
    }
    .duration {
      color: #6c757d;
    }
  }
}

.text-warning {
  color: #c271ff !important;
}
footer {
  .footer-logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    .logo-img {
      // Adjust size as needed
      height: auto;
      margin-right: 8px;
    }
  }

  .social-icons {
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }

      .social-img {
        width: 24px; // Adjust size as needed
        height: auto;
        transition: filter 0.3s;
        &:hover {
          filter: brightness(1.2); // Adjust hover effect as needed
        }
      }
    }
  }
}

.custom-footer-padding {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

footer {
  .footer-logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    .logo-img {
      // Adjust size as needed
      height: auto;
      margin-right: 8px;
    }
  }

  .social-icons {
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }

      .social-img {
        width: 24px; // Adjust size as needed
        height: auto;
        transition: filter 0.3s;
        &:hover {
          filter: brightness(1.2); // Adjust hover effect as needed
        }
      }
    }
  }
}

.bg-dark {
  background-color: #071629 !important;
}

/* Bootstrap Breakpoints */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Your styles here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Your styles here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your styles here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Your styles here */
}

/* Custom breakpoints for 1440px, 768px, and 375px */

// Styles for desktop 1440px and up
@media (min-width: 1440px) {
  .wrap-quote {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }
}

// Styles for tablets 768px to 1439.98px
@media (min-width: 768px) and (max-width: 1439.98px) {
  .wrap-quote {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.3rem;
  }
}

// Styles for mobile devices less than 768px
@media (max-width: 767.98px) {
  .wrap-quote {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}

// Styles for mobile devices less than 375px
@media (max-width: 374.98px) {
  .wrap-quote {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
